<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Attendance Tracker</title>
  </head>
  <body>
    <div class="navbar">
      <div class="spacer"></div>
      <div class="logo-container">
        <img src="../resource/logo.svg" alt="logo" id="logo" />
      </div>
      <button class="profile-btn">
        <img src="../resource/profile.svg" alt="profile" id="profile" />
      </button>
    </div>
    <div class="viewBox">
      <button id="button-add" class="custom-btn btn-4">
        <img src="../resource/plus.svg" alt="plus" id="plus" />
      </button>
    </div>

    <!-- Modal Dialog -->
    <div id="nameModal" class="modal">
      <div class="modal-content">
        <div class="modal-button">
          <button id="close-button">
            <img src="../resource/close.svg" alt="close" id="close" />
          </button>
        </div>
        <div class="input-group">
          <input
            type="text"
            id="buttonName"
            placeholder="Enter group name here"
          />
        </div>
        <button id="addButton" class="custom-btn">Add Button</button>
      </div>
    </div>
    <script src="../scripts/index.js"></script>
  </body>
</html>
