<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/records.css" />
  </head>
  <body>
    <div class="navbar">
      <button class="profile-btn left">
        <img
          src="../resource/right-arrow-svgrepo-com.svg"
          alt="left icon"
          id="left-icon"
        />
      </button>
      <div class="logo-container">
        <img src="../resource/logo.svg" alt="logo" id="logo" />
      </div>
      <button class="profile-btn right">
        <img src="../resource/profile.svg" alt="profile" id="profile" />
      </button>
    </div>
  </body>
</html>
