<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="../styles/auth.css" />
  </head>
  <body>
    <div class="auth-box">
      <div class="logo-container">
        <img src="../resource/logo.svg" alt="logo" id="logo" />
      </div>
      <h2>Sign up</h2>
      <form id="signup-form">
        <div class="input-group">
          <label for="name">Name</label>
          <input type="text" id="name" required />
        </div>
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" id="email" required />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" required />
        </div>
        <div class="input-group">
          <label for="confirm-password">Confirm Password</label>
          <input type="password" id="confirm-password" required />
        </div>
        <div class="grid-container" class="input-group">
          <label id="password" class="checkbox path">
            <input type="checkbox" id="password" onclick="togglePasswords()" />
            <svg id="svg" viewBox="0 0 21 21">
              <path
                d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
              ></path>
            </svg>
            Show Password
          </label>
        </div>
      </form>
      <div class="button-container">
        <button type="submit" class="custom-btn button">Sign Up</button>
      </div>
      <div class="links">
        <a href="./login.html" id="log-in">Log in</a>
      </div>
    </div>

    <script src="../scripts/login.js"></script>
  </body>
</html>
