@font-face {
  font-family: "mplus-rounded";
  src: url("../resource/fonts/MPLUSRounded1c-Medium.ttf") format("ttf"),
    url("../resource/fonts/MPLUSRounded1c-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "mplus-rounded", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
}

.auth-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.207);
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.logo-container {
  text-align: left;
  margin-bottom: 20px;
}

#logo {
  max-width: 25px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  height: 30px;
  width: 100%;
  padding: 10px;
  border: 2px solid #d4d4d4;
  box-sizing: border-box;
}

input:hover {
  border-color: #000000;
}

button {
  margin: 20px auto 10px;

  outline: none;
  display: block;
}

.button-container {
  text-align: center;
}
.custom-btn {
  width: 100%;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: block;
}

/* 13 */
.button {
  background: #000;
  color: #fff;
  z-index: 1;
}
.button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #e0e5ec;
  transition: all 0.3s ease;
}
.button:hover {
  color: #000;
}
.button:hover:after {
  top: 0;
  height: 100%;
}
.button:active {
  top: 2px;
}

button:hover {
  background: #000000;
}

.links {
  text-align: center;
}

.links a {
  margin: 0 10px;
  color: #d4d4d4;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
  color: #000000;
}

#continue {
  color: #000;
  display: block;
  margin: 10px auto 10px;
  background: #ffffff;
}
