body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: transparent;
  height: 30px;
  position: relative;
}
.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo-container img {
  width: 35px;
  height: 35px;
}
.profile-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.profile-btn img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.profile-btn:hover img {
  background-color: #9b9b9b;
}

.custom-btn {
  width: 1000px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0s ease;
  position: relative;
  display: inline-block;
}

.viewBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

button {
  margin: 5px;
  outline: none;
}

/* 4 */
.btn-4 {
  position: relative;
  color: #000;
  z-index: 2;
  line-height: 40px;
  padding: 0;
}
.btn-4:hover {
  border: none;
}
.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  border: 2px solid;
  z-index: -1;
  transition: all 0.3s ease;
}
.btn-4:before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #000;
  border-left-color: #000;
}
.btn-4:after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #000;
  border-right-color: #000;
}
.btn-4:hover:before,
.btn-4:hover:after {
  border-color: #000;
  height: 100%;
  width: 100%;
}
